.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

.Headeri {
  text-align: center;
  background-color: aquamarine;
  padding: 100px;
}

.linkit {
  padding: 50px;
}

.App-content {
  padding: 30px;
  text-align: center;
  list-style-type: none;
  background-color: aquamarine;
}

.sivu {
  text-align: center;
  position: absolute;
  top: 221px;
  padding-bottom:  20px;
  right: 0;
  background-color: blue;
  float: inline-end;
  list-style-type: none;
  margin-left: -200;
  height: 500px;
  width: 33%;
}

body {
  background-color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
